node-red/flows.example.json
[
  {
    "id": "esp32-tab",
    "type": "tab",
    "label": "ESP32 → Supabase",
    "disabled": false,
    "info": "Подписка на MQTT и запись статусов/телеметрии/capabilities в Supabase через PostgREST."
  },
  {
    "id": "mosquitto-br",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "closeTopic": "",
    "willTopic": ""
  },
  {
    "id": "mqtt-status",
    "type": "mqtt in",
    "z": "esp32-tab",
    "name": "devices/+/status",
    "topic": "devices/+/status",
    "qos": "1",
    "broker": "mosquitto-br",
    "x": 160,
    "y": 100,
    "wires": [["fn-status"]]
  },
  {
    "id": "fn-status",
    "type": "function",
    "z": "esp32-tab",
    "name": "build status upsert",
    "func": "const deviceId = msg.topic.split('/')[1];\nlet status = msg.payload;\nif (typeof status === 'string') {\n  try { status = JSON.parse(status).status; } catch (e) { /* plain string */ }\n} else if (status && typeof status === 'object') {\n  status = status.status;\n}\nconst isOnline = status === 'online';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  apikey: env.get('SERVICE_ROLE_KEY'),\n  Authorization: 'Bearer ' + env.get('SERVICE_ROLE_KEY'),\n};\nmsg.method = 'POST';\nmsg.url = env.get('SUPABASE_REST') + '/rpc/set_device_status';\nmsg.payload = {\n  p_device_id: deviceId,\n  p_is_online: isOnline,\n};\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 100,
    "wires": [["http-supabase"]]
  },
  {
    "id": "mqtt-telemetry",
    "type": "mqtt in",
    "z": "esp32-tab",
    "name": "devices/+/telemetry",
    "topic": "devices/+/telemetry",
    "qos": "1",
    "broker": "mosquitto-br",
    "x": 170,
    "y": 200,
    "wires": [["fn-telemetry"]]
  },
  {
    "id": "fn-telemetry",
    "type": "function",
    "z": "esp32-tab",
    "name": "build telemetry insert",
    "func": "const deviceId = msg.topic.split('/')[1];\nlet data = msg.payload;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch (e) { data = { value: data }; }\n}\nif (typeof data !== 'object' || data === null) {\n  data = { value: data };\n}\nconst headers = {\n  'Content-Type': 'application/json',\n  apikey: env.get('SERVICE_ROLE_KEY'),\n  Authorization: 'Bearer ' + env.get('SERVICE_ROLE_KEY'),\n};\nconst telem = {\n  headers,\n  method: 'POST',\n  url: env.get('SUPABASE_REST') + '/telemetry',\n  payload: [{ device_id: deviceId, topic: msg.topic, payload: data }],\n};\nconst touch = {\n  headers,\n  method: 'POST',\n  url: env.get('SUPABASE_REST') + '/rpc/touch_device',\n  payload: { p_device_id: deviceId },\n};\nreturn [telem, touch];",
    "outputs": 2,
    "x": 430,
    "y": 200,
    "wires": [["http-supabase"], ["http-touch"]]
  },
  {
    "id": "mqtt-capabilities",
    "type": "mqtt in",
    "z": "esp32-tab",
    "name": "devices/+/capabilities",
    "topic": "devices/+/capabilities",
    "qos": "1",
    "broker": "mosquitto-br",
    "x": 160,
    "y": 300,
    "wires": [["fn-capabilities"]]
  },
  {
    "id": "fn-capabilities",
    "type": "function",
    "z": "esp32-tab",
    "name": "build capabilities rpc call",
    "func": "const deviceId = msg.topic.split('/')[1];\nlet capabilities = msg.payload;\nif (typeof capabilities === 'string') {\n  try { capabilities = JSON.parse(capabilities); } catch (e) { return null; }\n}\nif (!capabilities || !capabilities.commands || !Array.isArray(capabilities.commands)) {\n  return null;\n}\nmsg.headers = {\n  'Content-Type': 'application/json',\n  apikey: env.get('SERVICE_ROLE_KEY'),\n  Authorization: 'Bearer ' + env.get('SERVICE_ROLE_KEY'),\n};\nmsg.method = 'POST';\nmsg.url = env.get('SUPABASE_REST') + '/rpc/merge_device_commands';\nmsg.payload = {\n  p_device_id: deviceId,\n  p_commands: capabilities.commands,\n  p_metrics: Array.isArray(capabilities.metrics) ? capabilities.metrics : null,\n  p_dashboard: capabilities.dashboard && typeof capabilities.dashboard === 'object' ? capabilities.dashboard : null,\n};\nreturn msg;",
    "outputs": 1,
    "x": 440,
    "y": 300,
    "wires": [["http-capabilities"]]
  },
  {
    "id": "http-capabilities",
    "type": "http request",
    "z": "esp32-tab",
    "name": "Supabase merge_device_commands",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 720,
    "y": 300,
    "wires": [["dbg-cap"]]
  },
  {
    "id": "dbg-cap",
    "type": "debug",
    "z": "esp32-tab",
    "name": "capabilities result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 920,
    "y": 300,
    "wires": []
  },
  {
    "id": "http-supabase",
    "type": "http request",
    "z": "esp32-tab",
    "name": "Supabase PostgREST",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 720,
    "y": 150,
    "wires": [["dbg"]]
  },
  {
    "id": "http-touch",
    "type": "http request",
    "z": "esp32-tab",
    "name": "Supabase touch device",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 720,
    "y": 220,
    "wires": [["dbg"]]
  },
  {
    "id": "dbg",
    "type": "debug",
    "z": "esp32-tab",
    "name": "result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 900,
    "y": 150,
    "wires": []
  }
]
